
/* lo ajustamos para el movil las columnas */
@media screen and (max-width: 600px) {
    .fila{
        flex-direction: column;
    }
    .izquierda,.derecha {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.titulo {
    font-family: monospace;
    margin: 0;
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 30px red;
    text-align: center;
    color: white;
    -webkit-text-stroke:1px rgb(100, 96,96) ;
}

body {
    /* background-image: ; */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cajaprincipal{
    float: center;
    padding: 10px;
    min-height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 5px solid;
    /* border-image: linear-gradien; */
    width: 100%;
}

.cajacontador{
    float: center;
    padding: 5px;
    min-height: 50px;
    border-radius: 10px;
    width: 100%;
    color: white;
    border: 5px solid;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 200px;
}

.cajanumero{
    padding: 5px;
    min-height: 50px;
    border-radius: 5px;
    width: 100%;
    color: gray;
    background-color: rgba(255, 0, 0, 0.3);
}

p{
    color: yellowgreen;
    font-weight: bold;
    font-size: large;
    text-align: center;
    font-family: digital;
}

.caja{
    float: center;
}

.tecla{
    padding: 5px;
    min-height: 35px;
    min-width: 38px;
    border-radius: 10px;
    width: 100%;
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.1);
}

.cronometro{
    text-align: center;
    float: center;
}




