/* Documento de estilo del 
durriculum de Garfield */

* {
    box-sizing: border-box;
  }

/* .izquierda {
width: 25%;
}
.derecha {
width: 75%;
} */

/* Queremos que la foto del principio de garfiel tenga formato de
curriculum para ello lo hacemos en circulo */

.foto-cv {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
    display: block;
    margin: 15px auto;
    background-color: white;   
}

/*Hacemos un fondo blanco un poco tranparente, para que 
se vea la imagen */

#c1, #c2, #c3 {
    background-color: rgb(255, 255, 255, 0.85);
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

/* @media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
} */
/* lo ajustamos para el movil las columnas */
@media screen and (max-width: 600px) {
    .fila{
        flex-direction: column;
    }
    .izquierda,.derecha {
        width: 100%;
    }
}

/*Ponemos el fondo del la página*/
body {
    background-image: url("fondoNaranja1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dato {
    font-size: 10px;
    margin: 1px 0;
}
/* Tamaño de las letras de la columna izquierda */
.tamanio-letra {
    font-size: 15px;
}
/* Tamaños de letra de los subtitulos */
.letra-subtitulo {
    font-size: 26px;
}
/* Tamaño del titulo y lo centramos */
.titulo {
    font-size: 64px;
    text-align: center;
    color: white;
}

/* Centramos la foto en horizontal */
.foto-centrada {
    display: block;
    margin: 0 auto;
}
/* Metemos un tabulador o espacio entre la imagen y la frase */
.style {
    padding-left: 50px;
    font-size: 15px;
}
/* Le damos estilo para que no se vaya la tabla y quede alineada */
.th {
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.fila {
    display: flex;
    gap: 20px;
    align-items: stretch; /* Misma altura */
    padding: 20px;
}
.columna {
    padding: 15px;
}
/* Para que las dos columnas midan lo mismo */
.izquierda {
    width: 75%;
}
.derecha {
    width: 75%;
}
.tercera {
    width: 75%;
}
/* hacemos que cada seccion quede separada y ordenada */
.bloque {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
} 
.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.projects {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.seccion {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
}
.garfield {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    z-index: 1000;
    pointer-events: none;
}
html, body {
    position: relative;
}
.mi-boton {
    display: inline-block;  
    text-decoration: none;   /* quita subrayado */
    background-color: #42a5f5;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; /*hacemos una animacion suave */
    font-weight: bold;
}
.mi-boton:hover { /*Para cuando pasamos el raton */
    background-color:#2b7fc3;
    transform: translateY(5px);
}
.mi-boton:active {
    transform: translateY(0px); /*Para volver a su sitio */
}

.subtitulo {
    background: rgba(0,0,0,0.1);
    padding:10px 20px;
    border-radius:12px;
    backdrop-filter:blur(10px);
    color:rgb(0, 0, 0);
    font-weight: 700;
}
.subtitulo:hover {
    transform: translateX(5px);
}
.subtitulo:active {
    transform: translateX(0px);
}
/* Estilo para los links de inicio, proyecto y acerca de */
.link {
    font-weight: 800;
    font-size: 18px;
    color:rgb(250, 250, 247) ;
    padding: 5px 15px;
}
.link:hover {
    transform: translateX(5px);
}
.link:active {
    transform: translateX(0px);
}
.subtitulo-proyectos {
    font-size:23px;
    font-weight: 600;
    color:rgb(0, 0, 0);
}
.card img {
    width: 100%;   /*Ocupamos el ancho de la card */
    height: 200px;  /*Altura fija para todas las imagene*/
    object-fit: cover;   /*recortamos la imagen sin deformarla*/
    border-radius: 8px;
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */