/* Documento de estilo del 
durriculum de Garfield */

* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
/* .columna {
float: left;
padding: 10px;
min-height: 500px;
} */

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
/* .filla:after {
content: "";
display: table;
clear: both;
} */

/* Queremos que la foto del principio de garfiel tenga formato de
curriculum para ello lo hacemos en circulo */

.foto-cv {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
    display: block;
    margin: 15px auto;
    background-color: white;   
}

/*Hacemos un fondo blanco un poco tranparente, para que 
se vea la imagen */

#c1, #c2 {
    background-color: rgb(255, 255, 255, 0.85);
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

/* .img {
    width: 100%;
    height: auto;
}  */

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/*Ponemos el fondo del la página*/
body {
    background-image: url("fondoNaranja1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dato {
    font-size: 10px;
    margin: 1px 0;
}
/* Tamaño de las letras de la columna izquierda */
.tamanio-letra {
    font-size: 15px;
}
/* Tamaños de letra de los subtitulos */
.letra-subtitulo {
    font-size: 26px;
}
/* Tamaño del titulo y lo centramos */
.titulo {
    font-size: 64px;
    text-align: center;
    color: white;
}

/* Centramos la foto en horizontal */
.foto-centrada {
    display: block;
    margin: 0 auto;
}
/* Metemos un tabulador o espacio entre la imagen y la frase */
.style {
    padding-left: 50px;
    font-size: 15px;
}
/* Le damos estilo para que no se vaya la tabla y quede alineada */
.th {
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}
.fila {
    display: flex;
    gap: 20px;
    align-items: stretch; /* Misma altura */
    padding: 20px;
}
.columna {
    padding: 15px;
}
/* Para que las dos columnas midan lo mismo */
.izquierda {
    width: 75%;
}
.derecha {
    width: 75%;
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */