/* Documento de estilo del 
durriculum de Garfield */

* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

/* Queremos que la foto del principio de garfiel tenga formato de
curriculum para ello lo hacemos en circulo 
display: block;
margin: auto;*/

.foto-cv {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;
    display: block;
    margin: 15px auto;
    background-color: white;   
}

.foto-container {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 15px auto;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* #c1 {
    background-color:#aaa;
} 

#c2 {
    background-color:#bbb;
} */

/*Hacemos un fondo blanco un poco tranparente, para que 
se vea la imagen */

#c1, #c2 {
    background-color: rgb(255, 255, 255, 0.85);
}


/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

/* .img {
    width: 100%;
    height: auto;
}  */

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/*Ponemos el fondo del la página
-cover: ocupa toda la pantalla
-no repeat: no se repite
-center: centrada*/
body {
    background-image: url("fondoNaranja1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dato {
    font-size: 10px;
    margin: 1px 0;
}

/* Tamaño de las letras de la columna izquierda */
.tamanio-letra {
    font-size: 12px;
}

/* Tamaños de letra de los subtitulos */
.letra-subtitulo {
    font-size: 18px;
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */